
$bookBlue: #065183;
$bookRed: #bb323a;

@font-face {
  font-family: timesRegular;
  src: url(/holdingpage/fonts/TypographyTimesRegular.ttf); }

@font-face {
	font-family: timesItalic;
	src: url(/holdingpage/fonts/TypographyTimesItalic.ttf);
}

@font-face {
	font-family: timesBold;
	src: url(/fonts/TypographyTimesBold.ttf);
}

@font-face {
	font-family: timesBoldItalic;
	src: url(/fonts/TypographyTimesBoldItalic.ttf);
}



body{
	
	background-color: #cfe2dc;
	width: 100%;
	height: 100vh;
	margin: 0 auto;

	

      
div.wrapper{
	
	height: 29%;
	width: 100%;
	background-color: $bookRed;
	box-shadow: inset 0px -8px 16px -10px black;
	
		
	div#words{
		background-color: #f6f1d9;
		padding: 25px;
		float: right;
		width: 51%;
		margin-top: 3%;
		margin-right: 4.2%;
		border-radius: 2%;
		box-shadow: 5px 5px 10px -3px black;
			p#title{
				
				text-align: left;
				font-size: 2em; 
				font-weight: 600;
				margin-top: 0;
				margin-bottom: 0;
					span{
						text-transform: uppercase;
					}
					
			}
			p#description{
				margin-top: 10px;
				color: black;
				text-align: left;
				font-size: 1.05em;
				padding-bottom: 1.3em;
				margin-bottom: 0.5em;
				border-bottom: 1px solid $bookBlue;
					span{
						font-style: italic;
					} 
			}
			p.quote{
				font-size: 13px;
				font-family: 'Open Sans';
				display: inline-block;
				width: 45%;
				text-align: justify;
					span{
						font-weight: bold;
						color: $bookBlue;
					}
			}
			p#tonyR{
				float: right;
				margin-right: 2em;
			}

			p#Twitter{
				font-family:'Open Sans';
				float: right;
				text-align: justify;
				position: absolute;
				margin-top: 12.3%;
				width: 22%;
				margin-left: 2%;
			}
			p#haroldE{
				margin-left: 1em;
			}
			h3.promise{
				margin-top: 0;
				text-align: justify;
				font-size: 1.3em;
				margin-bottom: 0.5em;
				color: $bookBlue;
			}
			h3#byAuthor{
				border-bottom: 1px solid $bookBlue;
				padding-bottom: 1.3em;

				margin-top: 1.5em;
				margin-bottom: 0.3em;
				color: $bookRed;
				font-size: 1em;

			}
			h2{
				font-family: timesRegular;
			}
			
			
	}

div.retailers{
	
	margin-top: -2.5em;
	display: inline-block;
	
	div#retailer{
				img{
					height: 4em;
					width: 9em;
					margin-bottom: 1em;
					margin-left: 2em;
					margin-right: 3em;
				}	
	}

	div#retailer2{
				img{
					height: 3em;
					width: 12em;
					margin-bottom: 1.4em;
					}
	}

	div#basket{
				img{
					height: 6.5em;
					width: 13em;
					margin-left: 33em;
				}
	}

}



	div#bookcover{

			img{
				height: 37.9em;
				box-shadow: 8px 8px 30px black;
				margin-left: 4.2%;
				margin-top: 3%;
				
			}
	}

}

@media screen and (max-width: 1280px) {

	div.retailers{
	
	margin-top: -2.5em;
	display: inline-block;
	
	div#retailer{
				img{
					height: 4em;
					width: 9em;
					margin-bottom: 1em;
					margin-left: 2em;
					margin-right: 3em;
				}	
	}

	div#retailer2{
				img{
					height: 3em;
					width: 12em;
					margin-bottom: 1.4em;
					}
	}

	div#basket{
				img{
					height: 6.5em;
					width: 13em;
					margin-left: 30.5em;
				}
	}

}

}
	

}