@font-face {
  font-family: timesRegular;
  src: url(/holdingpage/fonts/TypographyTimesRegular.ttf); }
@font-face {
  font-family: timesItalic;
  src: url(/holdingpage/fonts/TypographyTimesItalic.ttf); }
@font-face {
  font-family: timesBold;
  src: url(/fonts/TypographyTimesBold.ttf); }
@font-face {
  font-family: timesBoldItalic;
  src: url(/fonts/TypographyTimesBoldItalic.ttf); }
body {
  background-color: #cfe2dc;
  width: 100%;
  /*max-width: 1280px;*/
  height: 100vh;
  margin: 0 auto; }
  body div.wrapper {
    height: 29%;
    width: 100%;
    background-color: #bb323a;
    box-shadow: inset 0px -8px 16px -10px black;
    /*max-width: 1280px;
    height: 100vh;
    margin: 0 auto;*/
    /*background-color: $bookRed;*/
    /*margin-left: 20px;
    margin-right: 20px;*/ }
    body div.wrapper div#words {
      background-color: #f6f1d9;
      padding: 25px;
      float: right;
      width: 51%;
      margin-top: 3%;
      margin-right: 4.2%;
      /*margin-right: 3.2em;*/
      border-radius: 2%;
      box-shadow: 5px 5px 10px -3px black; }
      body div.wrapper div#words p#title {
        text-align: left;
        font-size: 2em;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0; }
        body div.wrapper div#words p#title span {
          text-transform: uppercase; }
      body div.wrapper div#words p#description {
        margin-top: 10px;
        color: black;
        text-align: left;
        font-size: 1.05em;
        padding-bottom: 1.3em;
        margin-bottom: 0.5em;
        border-bottom: 1px solid #065183; }
        body div.wrapper div#words p#description span {
          font-style: italic; }
      body div.wrapper div#words p.quote {
        font-size: 13px;
        font-family: 'Open Sans';
        display: inline-block;
        width: 45%;
        text-align: justify; }
        body div.wrapper div#words p.quote span {
          font-weight: bold;
          color: #065183; }
      body div.wrapper div#words p#tonyR {
        float: right;
        margin-right: 2em; }
      body div.wrapper div#words p#Twitter {
        font-family: 'Open Sans';
        float: right;
        text-align: justify;
        position: absolute;
        margin-top: 12.3%;
        /*margin-top: 13.5em;*/
        width: 22%;
        margin-left: 2%;
        /*margin-left: 2.1em;*/ }
      body div.wrapper div#words p#haroldE {
        margin-left: 1em; }
      body div.wrapper div#words h3.promise {
        margin-top: 0;
        text-align: justify;
        font-size: 1.3em;
        margin-bottom: 0.5em;
        color: #065183; }
      body div.wrapper div#words h3#byAuthor {
        border-bottom: 1px solid #065183;
        padding-bottom: 1.3em;
        margin-top: 1.5em;
        margin-bottom: 0.3em;
        color: #bb323a;
        font-size: 1em; }
      body div.wrapper div#words h2 {
        font-family: timesRegular; }
    body div.wrapper div#retailers {
      /*position: absolute;*/
      margin-left: 38.6%;
      /*margin-top: -17em;*/ }
      body div.wrapper div#retailers div.retailer {
        /*margin-top: 17.3em;
        margin-left: -4em;
        width: 60px;
        height: 60px;*/ }
        body div.wrapper div#retailers div.retailer img {
          margin-top: -4.5em;
          /*margin-right: -26em;*/
          margin-left: 16.5em;
          /*float: right;*/
          height: 4em;
          width: 9em; }
      body div.wrapper div#retailers div.retailer2 {
        /*margin-top: 17.8em;
        margin-left: 7em;
        width: 60px;
        height: 60px;*/ }
        body div.wrapper div#retailers div.retailer2 img {
          height: 3em;
          width: 12em;
          float: right;
          margin-top: -3.7em;
          margin-right: 9em;
          /*margin-right: -14em*/ }
      body div.wrapper div#retailers div.basket img {
        float: left;
        margin-top: -5.6em;
        /*margin-right: 38.6em;*/
        height: 100px;
        width: 200px; }
    body div.wrapper div#bookcover img {
      height: 37.9em;
      /*width: 33%;*/
      box-shadow: 8px 8px 30px black;
      margin-left: 4.2%;
      /*margin-left: 3.2em;*/
      margin-top: 3%; }
  @media screen and (max-width: 1280px) {
    body div.wrapper div#retailers {
      /*position: absolute;*/
      margin-left: 39%;
      /*margin-left: 30.5em;
      margin-top: -17em;*/ }
      body div.wrapper div#retailers div.retailer {
        /*margin-top: 17.3em;
        margin-left: -4em;
        width: 60px;
        height: 60px;*/ }
        body div.wrapper div#retailers div.retailer img {
          margin-top: -4.5em;
          margin-right: -26em;
          float: right;
          height: 4em;
          width: 9em; }
      body div.wrapper div#retailers div.retailer2 {
        /*margin-top: 17.8em;
        margin-left: 7em;
        width: 60px;
        height: 60px;*/ }
        body div.wrapper div#retailers div.retailer2 img {
          height: 3em;
          width: 12em;
          float: right;
          margin-top: -3.9em;
          margin-right: -14em; }
      body div.wrapper div#retailers div.basket img {
        float: left;
        margin-top: -5.9em;
        /*margin-right: 38.6em;*/
        height: 100px;
        width: 200px; } }
  @media screen and (max-width: 640px) {
    body div#words {
      display: none; }
    body div#retailers {
      position: relative;
      margin: 0; }
      body div#retailers div.retailer img {
        margin: 0;
        float: none; }
      body div#retailers div.retailer2 img {
        margin: 0;
        float: none; }
      body div#retailers div.basket img {
        float: none;
        margin: 0; } }

/*# sourceMappingURL=main.css.map */
