
$bookBlue: #065183;
$bookRed: #bb323a;

@font-face {
  font-family: timesRegular;
  src: url(/holdingpage//fonts/TypographyTimesRegular.ttf); }

@font-face {
	font-family: timesItalic;
	src: url(/fonts/TypographyTimesItalic.ttf);
}

@font-face {
	font-family: timesBold;
	src: url(/fonts/TypographyTimesBold.ttf);
}

@font-face {
	font-family: timesBoldItalic;
	src: url(/fonts/TypographyTimesBoldItalic.ttf);
}



body{
	
	background-color: #cfe2dc;
	width: 100%;
	/*max-width: 1280px;*/
	height: 100vh;
	margin: 0 auto;

	

      
div.wrapper{
	
	height: 29%;
	width: 100%;
	background-color: $bookRed;
	box-shadow: inset 0px -8px 16px -10px black;

	/*max-width: 1280px;
	height: 100vh;
	margin: 0 auto;*/

	/*background-color: $bookRed;*/
	/*margin-left: 20px;
	margin-right: 20px;*/
	
		
	div#words{
		background-color: #f6f1d9;
		padding: 25px;
		float: right;
		width: 51%;
		margin-top: 2.43em;
		margin-right: 3.2em;
		border-radius: 2%;
		box-shadow: 5px 5px 10px -3px black;
			p#title{
				color: #464952;
				text-align: center;
				font-family: timesRegular;
				text-transform: uppercase;
				font-size: 2.2em; 
				font-weight: 600;
				margin-top: 0;
				margin-bottom: 0;
					
			}
			p#description{
				color: black;
				text-align: center;
				font-size: 1.05em;
				font-family: timesRegular;
				padding-bottom: 1.3em;
				margin-bottom: 0.5em;
				border-bottom: 1px solid $bookBlue; 
			}
			p.quote{
				font-size: 13px;
				font-family: timesRegular;
				display: inline-block;
				width: 45%;
				text-align: justify;
					span{
						font-weight: bold;
						color: $bookBlue;
					}
			}
			p#tonyR{
				float: right;
				margin-right: 3em;
			}

			p#Twitter{
				font-family: timesRegular;
				float: right;
				text-align: justify;
				position: absolute;
				margin-top: 13.5em;
				width: 22%;
				margin-left: 2.1em;
			}
			/*p#haroldE{
				float: right;
				margin-right: 4em;
			}*/
			h3.promise{
				margin-top: 0;
				text-align: justify;
				font-size: 1.3em;
				font-family: timesRegular;
				margin-bottom: 0.5em;
				color: $bookBlue;
			}
			h3#byAuthor{
				border-bottom: 1px solid $bookBlue;
				padding-bottom: 1.3em;

				margin-top: 1.5em;
				margin-bottom: 0.3em;
				font-family: timesRegular;
				color: $bookRed;
				font-size: 1em;

			}
			h2{
				font-family: timesRegular;
			}
			/*ul{
				margin-top: 4em;
				padding: 0px;

				li{
					font-family: 'Open Sans';
					display: inline-block;
					margin-right: 2em;
						div.retailer{
							width: 15px;
							height: 15px;
							border-radius: 100%;
							border-radius: 1px solid black;
						}
				}

			}*/
			div.retailer{
							position: absolute;
							display: inline-block;
							margin-top: 17.3em;
							margin-left: -4em;
							width: 60px;
							height: 60px;
								img{
									height: 4em;
									width: 9em;
								}
						}

			div.retailer:hover{
							position: absolute;
							display: inline-block;
							margin-top: 16em;
							margin-left: -15em;
							width: 60px;
							height: 60px;
								img{
									height: 4em;
									width: 9em;
									text-decoration: underline;
								}
						}

			div.retailer2{
							position: absolute;
							display: inline-block;
							margin-top: 17.8em;
							margin-left: 7em;
							width: 60px;
							height: 60px;
								img{
									height: 3em;
									width: 12em;
								}
						}

			div.basket{
				position: absolute;
					img{
						padding-right: 13px;
						margin-top: 2em;
						margin-left: -3.6em;
						height: 100px;
						width: 200px;
					}
			}
		

			
	}



	div#bookcover{

			img{
				height: 38.8em;
				width: 33%;
				box-shadow: 8px 8px 30px black;
				margin-left: 3.2em;
				margin-top: 2.5em;
				
			}
	}

}

@media screen and (max-width: 1350px) {

div.wrapper{
	margin-left: 0;
	margin-right: 0;
}

}
}