@font-face {
  font-family: timesRegular;
  src: url(/holdingpage//fonts/TypographyTimesRegular.ttf); }
@font-face {
  font-family: timesItalic;
  src: url(/fonts/TypographyTimesItalic.ttf); }
@font-face {
  font-family: timesBold;
  src: url(/fonts/TypographyTimesBold.ttf); }
@font-face {
  font-family: timesBoldItalic;
  src: url(/fonts/TypographyTimesBoldItalic.ttf); }
body {
  background-color: #cfe2dc;
  width: 100%;
  /*max-width: 1280px;*/
  height: 100vh;
  margin: 0 auto; }
  body div.wrapper {
    height: 29%;
    width: 100%;
    background-color: #bb323a;
    box-shadow: inset 0px -8px 16px -10px black;
    /*max-width: 1280px;
    height: 100vh;
    margin: 0 auto;*/
    /*background-color: $bookRed;*/
    /*margin-left: 20px;
    margin-right: 20px;*/ }
    body div.wrapper div#words {
      background-color: #f6f1d9;
      padding: 25px;
      float: right;
      width: 51%;
      margin-top: 2.43em;
      margin-right: 3.2em;
      border-radius: 2%;
      /*p#haroldE{
      	float: right;
      	margin-right: 4em;
      }*/
      			/*ul{
      				margin-top: 4em;
      				padding: 0px;
      
      				li{
      					font-family: 'Open Sans';
      					display: inline-block;
      					margin-right: 2em;
      						div.retailer{
      							width: 15px;
      							height: 15px;
      							border-radius: 100%;
      							border-radius: 1px solid black;
      						}
      				}
      
      			}*/ }
      body div.wrapper div#words p#title {
        text-align: center;
        font-family: timesRegular;
        text-transform: uppercase;
        font-size: 2.2em;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0; }
      body div.wrapper div#words p#description {
        color: black;
        text-align: center;
        font-size: 1.05em;
        margin-bottom: 0;
        font-family: timesRegular; }
      body div.wrapper div#words p.quote {
        font-size: 13px;
        font-family: 'Open Sans';
        display: inline-block;
        width: 45%;
        text-align: justify; }
        body div.wrapper div#words p.quote span {
          font-weight: bold;
          color: #065183; }
      body div.wrapper div#words p#tonyR {
        float: right;
        margin-right: 3em; }
      body div.wrapper div#words p#Twitter {
        font-family: 'Open Sans';
        float: right;
        text-align: justify;
        position: absolute;
        margin-top: 11em;
        width: 22%;
        margin-left: 2.1em; }
      body div.wrapper div#words h3.promise {
        margin-top: 0;
        font-family: 'Open Sans';
        margin-bottom: 0.5em;
        color: #065183; }
      body div.wrapper div#words h3#byAuthor {
        border-bottom: 1px solid #065183;
        padding-bottom: 1.3em;
        margin-top: 1.5em;
        margin-bottom: 0.3em;
        font-family: timesRegular;
        color: #065183;
        font-size: 1em; }
      body div.wrapper div#words h2 {
        font-family: timesRegular; }
      body div.wrapper div#words div.retailer {
        position: absolute;
        display: inline-block;
        margin-top: 17em;
        margin-left: -3em;
        width: 60px;
        height: 60px; }
        body div.wrapper div#words div.retailer img {
          height: 4em;
          width: 9em; }
      body div.wrapper div#words div.retailer:hover {
        position: absolute;
        display: inline-block;
        margin-top: 16em;
        margin-left: -15em;
        width: 60px;
        height: 60px; }
        body div.wrapper div#words div.retailer:hover img {
          height: 4em;
          width: 9em;
          text-decoration: underline; }
      body div.wrapper div#words div.retailer2 {
        position: absolute;
        display: inline-block;
        margin-top: 17.5em;
        margin-left: 8em;
        width: 60px;
        height: 60px; }
        body div.wrapper div#words div.retailer2 img {
          height: 3em;
          width: 12em; }
      body div.wrapper div#words div.basket {
        position: absolute; }
        body div.wrapper div#words div.basket img {
          border-right: 1px solid #065183;
          padding-right: 13px;
          margin-top: 1.7em;
          margin-left: -2em;
          height: 100px;
          width: 200px; }
    body div.wrapper div#bookcover img {
      height: 38.8em;
      width: 33%;
      box-shadow: 8px 8px 30px black;
      margin-left: 3.2em;
      margin-top: 2.5em; }
  @media screen and (max-width: 1350px) {
    body div.wrapper {
      margin-left: 0;
      margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
